<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="cheminImage" value="D:\Desktop\IMG\400\Numérisation Couleur\Dossier sans couleur\"/>
      <add key="cheminTemp" value="D:\Desktop\IMG\TEMP\"/>
      <add key="tailleImg.w" value="1995"/>
      <add key="tailleImg.h" value="2815"/>
    </appSettings>
</configuration>